nav {
	background-color: #222831;
}

a {
	text-decoration: none;
	color: white;
}

.navbar-brand {
	font-size: 15px;
}

.nav-item {
	font-size: 15px;
}

.navbar-nav .nav-item.active .navbar-brand .nav-link,
.navbar-nav .nav-item:hover .nav-link {
	color: #f2a365;
}
